/* fonts */
/* montserrat */
/* text */
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Antic+Didone&display=swap');

@import "tailwindcss";


/* styles */
section {
  width: 100%;
  height: 100vh;
  padding: 1rem;
}
input[type="radio"] {
  accent-color: #945868; /* color naranja, puedes cambiarlo */
}
/* home */
.main {
  background-color: rgb(219, 216, 208); 
}

.mainLanding {
  background-image: url('/home/wallpaper.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  border-bottom-right-radius: 35%;
}

.backdrop {
  border-bottom-right-radius: 35%;
}

.main-info {
  width: 700px;
  height: 220px;
  border: 1px solid rgba(240, 213, 151, 0.767);
}

.about-us {
  display: flex;
  justify-content: center;
  background-color: rgb(219, 216, 208);
}

.about-info {
}

.our-menu {
  background-color:#09121d;
  border-top-left-radius: 35%;
  height: 115vh;
}

/* contact us */
.contact {
  background-image: url('/contact/contact.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.contact-info {
  background-color: rgb(245, 242, 235); 
  height: 150vh;
}

/* reservation */
.cover-reservation {
  background-image: url('/reservation/reservation.jpg');
  background-position: center;
}

.cover-reservation, .backdrop-reserv  {
  border-bottom-left-radius: 20%;
  border-bottom-right-radius: 20%;
}

.reserv-info {
  background-color: rgba(199, 192, 183, 0.7);
}

.cover-reservation, .contact-reserv {
  background-size: cover;
  background-repeat: no-repeat;
}

.contact-reserv {
  background-image: url('/reservation/contact-reserv.jpeg');
  background-position: 40%;
  height: 50vh;
}

/* footer */
.footer {
  width: 100%;
  height: 580px;
  background-color: rgb(13, 20, 28);
}
